.navbar {
    padding: 0.5vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgb(49, 49, 54);
    border: 0.1vw solid rgb(51, 51, 51);
    border-radius: 0;
    box-shadow: 0 0 1vw #333;
    font-size: 1vw;
}

/* Font based on screen size */
@media screen and (max-width: 912px) {
    .navbar {
        font-size: 3.5vw;
        padding: 2vw;
    }
}

/* verically center title-canvas */
.title-canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

a {
    padding: 0.4vw;
    font-family: 'Montserrat', sans-serif;
    color: #968381;
    text-decoration: none;
}
a:hover {
    color: #e3c7c5;
    text-decoration: none;
}
a:active {
    color: #e3c7c5;
    text-decoration: none;
}
a:visited {
    color: #000;
    text-decoration: none;
}