@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    background-image: url(bg_drop.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 10vw;
    cursor: pointer;
}   

.aboutmetitle {
    background: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, #2c2c99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    z-index: 2;
    position: fixed;
    top: 10.5vw;
    display: flex;
    left: 50vw;
    margin-top: -1vw;
    margin-left: -5vw;
}

.aboutmebody {
    -webkit-text-fill-color: transparent;
    font-size: 0.9vw;
    z-index: 2;
    position: fixed;
    top: 13.5vw;
    display: flex;
    margin: auto;
    left: 48vw;
    text-align: justify;
    margin-top: -1vw;
    width: 2vw;
}

.line {
    position: relative;
    top: 50%;
    margin: 0 auto;
    border-right: 0.15vw solid rgba(255, 255, 255, 0);
    white-space: nowrap;
    width: 12.1em;
    overflow:hidden; transform: translateY(-50%)
}

.center {
    background: -webkit-linear-gradient(0deg, rgb(0, 0, 0) 0%, #2c2c99 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    z-index: 2;
    position: fixed;
    top: 25.5vw;
    display: flex;
    left: 20vw;
    margin-top: -1vw;
    margin-left: -5vw;
}

.content {
    position: absolute;
    left: 15vw;
    top: 76.2vw;
    text-align: center;
    transform: translateY(-50vw);
    z-index: 3;
    font-size: 0.9vw;
    background: linear-gradient(19deg, rgb(153, 163, 196) 0%, rgba(83, 83, 83, 0) 100%);
    border-radius: 18vw;
    padding: 0.3vw 1vw;
}

.navbar {
    scale: 50;
    width: 85%;
    height: 15%;
    margin: auto; 
    display: flex;
    align-items: center;
}

.socialrow {
    width: 16%;
    height: 65%;
    margin: auto; 
    display: flex;
    align-items: center;
}

a.button { 
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    background: linear-gradient(19deg, rgb(153, 163, 196) 0%, rgba(83, 83, 83, 0) 100%);
    border-radius: 18vw;
    padding: 0.3vw 1vw;
    color: rgb(59, 59, 59);
    outline: none;
    font-size: 0.8vw;
}

a.social {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    color: initial;
    background: linear-gradient(19deg, rgb(153, 163, 196) 0%, rgba(83, 83, 83, 0) 100%);
    border-radius: 18vw;
    padding: 0.3vw 1vw;
    color: rgb(59, 59, 59);
    outline: none;
    scale: 2px;
}

.anim-typewriter {
    animation: typewriter 4s steps(50) 1s 1 normal both,
    blinkTextCursor 1000ms steps(2) infinite normal;
}

.anim-fadein {
    animation: fadein 2s steps(50) 0.01s 1 normal both;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 12.1em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(0, 0, 0, 0.75)
    }
    to {
        border-right-color: transparent
    }
}